@use "../../styles/mixins" as mix; //also imports _variables.scss

:host {    
    @include mix.flex(space-between, center);
    height: 120px;
    width: 100%;
    background-color: #373333;
    color: white;

    @media screen and (max-width: 700px) {
        @include mix.flex(center, space-between, column, 12px);
        min-height: 180px;
    }
}

footer {
    position: relative;
    @include mix.flex(space-between, center);
    margin: auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 mix.$padding-main;

    @media screen and (max-width: 700px) {
        @include mix.flex(center, center, column, 12px);
    }
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 84px;
    filter: invert(1);

    @media screen and (max-width: 700px) {
        position: relative;
        transform: unset;
        left: unset;
        top: unset;
    }
}

a {
    text-decoration: none;
    color: white;
    margin-left: 12px;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}
