<img 
    src="./assets/img/logo-black.png" 
    routerLink="/"
    alt="brotkorb-logo" 
    class="logo">
<div class="search">
    <input placeholder="Lieblingsbäcker finden" type="text">
    <button>
        <mat-icon aria-label="brotkorb" fontIcon="home">search</mat-icon>
    </button>
</div>
<div class="right-container">
    <span>Versandkostenfrei ab 10 Euro</span>
    <mat-icon class="icon-cart" aria-label="warenkorb">
        shopping_basket
        <div class="cart-count">
            3
        </div>
    </mat-icon>

</div>
