* {
    font-family: "Roboto", sans-serif;
}


//shop title
h1{
    font-size: calc(22px + 2vw);
    font-weight: 800;
}

//product title
h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
    white-space: pre-wrap;
    text-align: center;
}

h4{
    font-size: 14px; 
    font-weight: 200;
    white-space: pre-wrap;
    text-align: center;
}
