<h3>Neues Produkt anlegen</h3>

<div mat-dialog-content>
    <form #productForm="ngForm">
        <div class="row">
            <mat-form-field appearance="standard">
                <mat-label>Produktname</mat-label>
                <input 
                [(ngModel)]="newProduct.name"
                name="name"
                #name="ngModel"
                matInput 
                placeholder="Produktname" 
                required 
                minlength="3">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="standard">
                <mat-label>Preis (€) pro Einheit </mat-label>
                <input 
                [(ngModel)]="newProduct.price"
                name="price"
                #price="ngModel"
                matInput 
                placeholder="Preis" 
                required 
                type="number">
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Einheit</mat-label>
                <input 
                [(ngModel)]="newProduct.amount"
                name="amount"
                #amount="ngModel"
                matInput 
                placeholder="Einheit" 
                required 
                minlength="3">
                <mat-hint>z.B. "1 Stück" oder "500 g"</mat-hint>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="standard">
                <mat-label>Beschreibung (kurz)</mat-label>
                <input 
                [(ngModel)]="newProduct.description"
                name="description"
                #description="ngModel"
                matInput 
                placeholder="Beschreibung (kurz)" 
                required 
                maxlength="45">
                <mat-hint>max. 45 Zeichen</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Beschreibung (lang)</mat-label>
                <input 
                [(ngModel)]="newProduct.descriptionLong"
                name="descriptionLong"
                #descriptionLong="ngModel"
                matInput 
                placeholder="Produktdetails">
                <mat-hint>z.B. Zutaten, Besonderheiten</mat-hint>
            </mat-form-field>
        </div>

        <div class="row m-top16">
            <mat-form-field>
                <mat-label>Produktkategorien</mat-label>
                <mat-select 
                    multiple
                    name="categories" 
                    [(ngModel)]="newProduct.categories">
                    <mat-option *ngFor="let category of shopCategories" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row m-top16">
            <section class="example-section">
                <mat-checkbox 
                [(ngModel)]="newProduct.isBundle" 
                name="isBundle"
                class="example-margin" 
                #bundleCheckbox 
                labelPosition="after">
                    Dieses Produkt ist ein Bundle
                </mat-checkbox>
            </section>
        </div>

        <div *ngIf="bundleCheckbox.checked" class="row">
            <div class="row m-top16">
                <mat-form-field>
                    <mat-label>Bundleprodukte wählen</mat-label>
                    <mat-select 
                    multiple
                    name="bundleProducts" 
                    [(ngModel)]="newProduct.bundleProducts">
                        <mat-option *ngFor="let product of noBundleProducts" [value]="product">{{product.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>

    <div mat-dialog-actions class="buttons">
        <button class="btn-cancel" mat-button mat-dialog-close>Abbrechen</button>
        <button class="btn-save" type="submit" (click)="saveNewProduct()" [disabled]="!productForm.valid" mat-button mat-dialog-close
            cdkFocusInitial>Produkt
            anlegen</button>
    </div>
</div>


<!-- 


isBundle: boolean;
bundleProductUIDs: string[];




 ******* TODO ********* -->
<!-- <mat-form-field appearance="standard" >
    <mat-label>Produktbild</mat-label>
    <input matInput placeholder="Hier hochladen" disabled>
    <mat-hint>Momentan nicht verfügar</mat-hint>
</mat-form-field> -->