@use "../../styles/mixins" as mix; //also imports _variables.scss

:host{
    @include mix.flex(flex-start, center, column);
    width: 380px;
    min-width: 280px;
    max-height: 100vh;
    padding: 20px 12px;
}

h3{
    margin-top: 32px;
    text-align: center;
}