
<!-- default placeholder Photo -->
<img *ngIf="product?.photoURL == ''; else productPhoto" src="./assets/img/products/default.png" alt="product">

<!-- productPhoto, if available -->
<ng-template #productPhoto>
    <img src="{{ product?.photoURL }}" alt="product">
</ng-template>

<h3>{{ product?.name }}</h3>
<h4>{{ product?.description }}</h4>
<div (click)="handleProductAdding()" class="bottom">
    <span>{{ product?.amount }} | {{ (product?.price | number : '1.2-2' )}} €</span>

    <!-- TODO -->
    <!-- <div class="product-info">  
        <img  src="./assets/img/glutenfree.png" alt="glutenfree">
        <img  src="./assets/img/vegan.png" alt="vegan">
    </div> -->

    <button>
        <mat-icon aria-hidden="false">add</mat-icon>
    </button>
</div>