@use "../../styles/mixins" as mix; //also imports _variables.scss

:host {
    @include mix.flex(flex-start, center, column);
    flex: 1;
    min-height: calc(100vh - 120px - 104px); // footer always at least on page bottom
    width: 100%;
}

// MATERIAL DRAWER
// change name!!  //////
.cart-container {
    width: 100%;
    height: 100%;
}

mat-drawer-content {
    // @include mix.flex(flex-start, center);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

// prevent from scrolling the navbar
.mat-drawer:not(.mat-drawer-side) {
    position: fixed;
}

.mat-drawer-backdrop {
    position: fixed !important;
}

/////////////////

.categories {
    position: relative;
    width: 60%;
    max-width: 800px;
    padding: 8px 64px;
    margin: 32px auto;

    .scrollcontainer{
        @include mix.flex(flex-start, center, row, 32px);
        overflow-x: hidden;
    }

    .category {
        @include mix.flex(center, center, column, 6px);
        font-weight: 200;
        font-size: 14px;
        cursor: pointer;
        padding: 4px 8px;
        border-radius: 6px;

        &:hover {
            background-color: rgba(128, 128, 128, 0.145);
        }

        img {
            height: 42px;
        }
    }
}

.showAsActive{
    background-color: rgba(128, 128, 128, 0.145);
}

button {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    background-color: transparent;
    border: none;
    cursor: pointer;

    mat-icon {
        @include mix.flex(center, center);

        &:hover {
            opacity: 0.8;
        }
    }
}

.btn-left {
    left: 20px;
}

.btn-right {
    right: 20px;
}

// product section (main section)
.products {
    @include mix.flex(space-evenly, center, row, 32px);
    width: 100%;
    max-width: 1280px;
    flex: 1;
    margin: auto;
    padding: 20px mix.$padding-main 80px;
    flex-wrap: wrap;
}
