<app-hero [currentShop]="currentShop"></app-hero>

<mat-drawer-container class="cart-container" hasBackdrop="true">

    <!-- cart - drawer -->
    <mat-drawer #drawer [opened]="helpers.cartOpen" mode="over" position="end">
        <app-cart></app-cart>
    </mat-drawer>

    <mat-drawer-content>
        <!-- slider categories -->
        <div class="categories">
            <button (click)="scroll('left')" class="btn-left">
                <mat-icon>navigate_before</mat-icon>
            </button>

            <div class="scrollcontainer" #scrollcontainer>
                <div 
                    *ngFor="let category of currentShop?.productCategories" 
                    (click)="setCategoryProducts(category)"
                    class="category"
                    [class.showAsActive]="currentCategory === category">
                        <img src="./assets/img/categories/{{ category }}.png" alt="{{category}}" class="img-category">
                        <span>{{ category }}</span>
                </div>
            </div>

            <button (click)="scroll('right')" class="btn-right">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <!-- Main shop section with products -->
        <div class="products">
            <app-product *ngFor="let product of currentCategoryProducts" [product]="product"></app-product>
        </div>

        <!-- toggle Button for cart -->
        <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
    </mat-drawer-content>
</mat-drawer-container>