<app-hero></app-hero>

<!-- slider categories -->
<div class="categories">
    <button class="btn-left">
        <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_before</mat-icon>
    </button>

    <div class="category">
        <img src="./assets/img/breadbasket.png" alt="breadbasket" class="img-category">
        <span>Brotkörbe</span>
    </div>

    <button class="btn-right">
        <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
    </button>
</div>

<div class="products">
    <app-product></app-product>
</div>